

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
/* Estilos base para dispositivos móveis (<= 768px) */

/* Defina a largura máxima para a seção principal */
.tabelas .principal {
    max-width: 100%;
    padding: 10px;
}

/* Alinhe os elementos do formulário verticalmente */
.formproducao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Centralize o botão no formulário */
#btnenviar {
    align-self: center;
}

/* Estilos específicos para dispositivos maiores (mais de 768px) */
@media (min-width: 769px) {
  

    .tabelas .principal {
        max-width: 80%;
        margin: 0 auto;
    }
    
    /* Defina a tabela de produção para preencher a largura disponível */
    #tabelaProducao {
        width: 100%;
    }

    /* Alinhe a tabela de pessoas à direita */
    #pessoas {
        float: right;
        margin-left: 20px;
    }

    /* Estilos para a tabela de indicadores de produção */
    #indProducao {
        margin-top: 20px;
    }

    #indProducao th, #indProducao td {
        padding: 5px;
    }
    
    /* Alinhe os botões à direita */
    #btnCalcular, #btnlimparDados {
        display: block;
        margin: 20px auto;
    }

   
}

.espaçamento-tabelas-coluna {
    padding-right: 50px;
}